#guide-to-save-progress {
  position: fixed;
  transition: display 0.2s;
  height: 100px;
}

/* alert bar */
/* Container da barra de alerta */
.alert-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  
  background-color: #ffffff;
  color: #000000;
  padding: 12px 24px;
  border-radius: 8px;
  margin: 40px 0;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  animation: slideDown 0.4s ease-out;
}

/* Estilo do botão dentro do alerta */
.alert-bar button {
  background-color: #46609b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.1s;

} .alert-bar #laterBtn, #forbid-btn {
  color: #46609b;
  background-color: white;
  border: 1px solid #46609b;
} .alert-bar #laterBtn:hover, #forbid-btn:hover {
  color: #000000;
  border: 1px solid #000000;
}

.alert-bar button:hover {
  background-color: #000000;
}

.alert-bar button:active {
  transform: translateY(1px);
}

/* Animação para a barra aparecer vindo de cima ou surgindo */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

/* Estilo para o texto de sucesso quando ativo */
.runtime-active-msg {
  color: #28a745;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 10px;
}