.invite-card-box {
    width: 400px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.774);
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    position: absolute;
    font-family: Arial;
}

.invite-card-box .invite-card {
    background-color: rgba(255, 255, 255, 0.74);
    width: 100%;
    height: 100%;
}

.invite-card .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inviter-container {
    margin-top: 40px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-around;
}

#inviter-picture-container {
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#inviter-picture-container img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

#inviter-name-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
#inviter-name-container span {
    font-size: 20px;
    align-items: center;
    white-space: nowrap;     /* prevent wrapping */
    overflow: hidden;        /* hide overflow */
    text-overflow: ellipsis; /* show ... */
}

#inviter-level-container {
    display: flex;
    align-items: center;
    width: 17%;
    height: 100%;
}

#inviter-level-container span {
    font-size: 20px;
    text-align: center;
    white-space: nowrap;     /* prevent wrapping */
    overflow: hidden;        /* hide overflow */
    text-overflow: ellipsis; /* show ... */
}