
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#profile-template {
  background-color: black;
  color: white;
  position: absolute;
  margin-top: 20px;
  margin-left: -1000px;
  width: 270px;
  border-radius: 25px;
  height: 110px;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

#profile-template span {
  white-space: nowrap;
  overflow: hidden;
}

#profile-icon {
  margin-left: 10px;
  background-color:#888;
  width: 96px;
  border-radius: 20%;
  height: 96px;
}

#user-info {
  font-size: 23px;
  font-family: Arial;
  width: 150px;
  margin-left: 10px;
  
  display: flex;
  flex-direction: column;
  gap: 4px;
  
  align-items: flex-start; 
  text-align: left;
}

#img-pfp {
  width: 96px;
  height: 96px;
  border-radius: 20%;
}

#status-icon {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #888; 
  display: inline-block;
  flex-shrink: 0;
}

.online-glow {
  background-color: #2ecc71 !important;
  box-shadow: 0 0 8px #2ecc71;
}