#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1 {
  color: rgb(46, 46, 46);
  font-family: arial;
  user-select: none;
}

#save-box {
  font-size: 20px;
  font-family: Arial;
  width: 50px;
  font-weight: 800; 
  height: 55px;
  margin-top: 10px;
  position: absolute; 
  right: 50px;
  cursor: pointer;
} #save-box #auto-save-on {
  color: rgb(123, 254, 127);
} #save-box #auto-save-off {
  color: rgb(193, 27, 27);
}

#save-box img {
  width: 100%;
  height: 100%;
}

#auto-save-info {
  color:white;
  font-family: arial;
  position: absolute;
  margin-top: -30px;
  right: 0;
  font-weight: bold;
}


#auto-save-info #off {
  color:rgb(193, 50, 50);
}

#auto-save-info #on {
  color:rgb(177, 255, 170);
}